* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

.change-password,
.edit,
.delete {
	text-decoration: underline;
	cursor: pointer;

	&:hover {
		color: orange;
	}
}

.msg {
	height: 25px;
	color: transparent;
}

.table {
	display: none;
}

.insert {
	// display: none;
	display: flex;
}

.edit-form {
	// display: flex;
	display: none;
}

.custom-file {
	input {
		width: 100%;
	}
}

.pass .show {
	.fa-eye {
		display: inline-block;
	}

	.fa-eye-slash {
		display: none;
	}
}

.pass {
	display: flex;
	align-items: center;

	input {
		flex: 1;
		border-right: transparent;
		padding-right: 35px;
	}

	i {
		width: 30px;
		border: 1px solid;
		height: 26px;
		line-height: 20px;
		border: 2px solid;
		border-left: transparent;
		margin-left: -30px;
		cursor: pointer;
	}


	.fa-eye {
		display: none;
	}

	.fa-eye-slash {
		display: inline-block;
	}
}

.pass.show {
	.fa-eye {
		display: inline-block;
	}

	.fa-eye-slash {
		display: none;
	}
}